* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

body {
  overflow-x: hidden;
  nav {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    min-height: 60px;

    transition: box-shadow 0.3s ease;
    &.scrolled {
      box-shadow: 0 10px 6px -6px #777;
    }

    ul#nav-links {
      display: flex;
      margin-bottom: 0;
      position: static;
      transform: none;
      height: auto;
      width: auto;
      background-color: transparent;
      flex-direction: row;

      li {
        list-style-type: none;
        margin: 1rem;
        .active {
          color: rgb(54, 212, 138);
        }
        a {
          color: black;
          text-decoration: none;
          font-size: 1rem;
          &:hover {
            color: rgb(54, 212, 138);
          }
        }
      }
    }

    #hamburger-btn {
      display: none;
      background: none;
      border: none;
      cursor: pointer;
      padding: 10px 0;
      .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px 0;
        background-color: #333;
        transition: all 0.3s ease-in-out;
      }
    }
  }

  main {
    section.main-area {
      // min-width: 50vh;
      min-height: 50vh;
      background-color: white;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      div.info {
        // border: 2px solid black;
        flex-basis: 550px;
        padding: 1rem;
        h1 {
          font-size: 3.5rem;
        }
        h2 {
          font-size: 2.2rem;
          font-weight: 500;

          min-height: 11rem;
        }
        .typewriter {
          font-family: "Roboto Mono", monospace;
          // font-size: 2.2rem;
          // font-weight: 500;
          color: rgb(54, 212, 138);
          position: relative;

          display: block;
          min-height: 7rem;
        }

        .typewriter::after {
          content: "|";
          color: rgb(54, 212, 138);
          animation: blink 0.7s infinite;
        }

        a {
          color: white;
          background-color: rgb(54, 212, 138);
          padding: 0.25rem 0.5rem;
          font-size: 1.5rem;
          border-radius: 20px;
          display: inline-block;

          margin-top: 0.5rem;

          text-decoration: none;
          transition: all 0.2s ease;
          &:hover {
            transform: scale(1.2);
          }
        }
      }

      div.img-area {
        // border: 2px solid black;
        flex-basis: 450px;
        img {
          width: 50%;
          height: 50%;
        }
      }
    }

    section.about-me {
      background-color: rgb(231, 255, 233);
      padding: 5rem 0rem;
      display: flex;
      justify-content: center;
      section.description {
        width: 50%;
        text-align: center;
        h2 {
          font-size: 2rem;
        }

        .skills-table {
          width: 100%;
          border-collapse: collapse;
          margin: 10px 0;
          td {
            padding: 6px 10px;
            vertical-align: top;
            text-align: left;

            &:first-child {
              font-weight: bold;
              width: 120px;
            }
          }
        }
        .progress-bar-area {
          p {
            margin-top: 1rem;
          }
        }
      }
    }

    section.resume {
      display: flex;
      flex-wrap: wrap;
      padding: 2rem;

      section.table {
        // border: 2px solid black;
        flex: 5 0 500px;
        padding: 2rem;
        table {
          --bs-table-bg: none;
          border-collapse: collapse;
          tr {
            border-bottom: 2px solid gray;
            transition: all 0.2s ease;
            &:hover {
              background-color: rgb(200, 255, 210);
            }
            td {
              padding: 1rem;
            }
          }
        }
      }

      section.picture {
        // border: 2px solid black;
        flex: 1 1 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        img {
          width: 50%;
        }
        .greenReact {
          width: 30vw;
          height: 90vh;
          border: 10px solid rgb(195, 255, 200);
          position: absolute;
          top: 30px;
          left: 80px;
          z-index: -1;
        }
        .greenReact2 {
          width: 50vw;
          height: 40vh;
          border: 10px solid rgb(195, 255, 200);
          position: absolute;
          top: 300px;
          left: -300px;
          z-index: -1;
        }
        .greenReact3 {
          width: 50vw;
          height: 40vh;
          border: 10px solid rgb(195, 255, 200);
          position: absolute;
          top: 0px;
          left: -100px;
          z-index: -1;
        }
      }
    }

    section.contact {
      background-color: rgb(231, 255, 233);
      padding: 5rem 0rem;
      // display: flex;
      text-align: center;
      justify-content: center;

      .contact-table {
        width: auto;
        border-collapse: collapse;
        margin: 10px auto;
        border: 2px solid #333;
        td {
          padding: 6px 10px;
          vertical-align: top;
          text-align: left;

          &:first-child {
            font-weight: bold;
            width: 120px;
          }
        }
      }
    }

    section.project {
      background-color: rgb(231, 255, 233);
      padding: 5rem 0;
      text-align: center;

      h1 {
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 1rem;
      }

      hr {
        width: 80%;
        max-width: 800px;
        border: none;
        border-top: 2px solid #bbb;
        margin: 1.5rem auto 3rem;
      }

      .project-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        gap: 3rem;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 1rem;
      }

      .project-item {
        background: #fff;
        border-radius: 20px;
        padding: 2rem 1.5rem;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
        transition: all 0.3s ease;
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
      }

      .project-item:hover {
        transform: translateY(-8px);
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.12);
      }

      h2 {
        font-size: 1.6rem;
        margin-bottom: 0.8rem;
        color: #222;
      }

      .project-tech-table {
        width: 100%;
        border-collapse: collapse;
        margin: 1rem 0;
        font-size: 0.9rem;
        font-family: Arial, sans-serif;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
        border-radius: 8px;
        overflow: hidden;

        th,
        td {
          padding: 10px 10px;
          border-bottom: 1px solid #e0e0e0;
          text-align: left;
        }

        thead th {
          background-color: #f4f4f4;
          color: #333;
          font-weight: 600;
        }

        tbody {
          td {
            &:first-child {
              font-weight: 500;
              color: #0056b3;
              width: 30%;
            }

            &:last-child {
              color: #555;
            }
          }

          tr:last-child td {
            border-bottom: none;
          }
        }
      }

      .project-img {
        width: 100%;
        aspect-ratio: 16 / 9;
        object-fit: cover;
        border-radius: 12px;
        border: 2px solid #ccc;
        margin-bottom: 1rem;
        transition: transform 0.3s ease;
      }

      .project-item:hover .project-img {
        transform: scale(1.02);
      }

      .project-link {
        display: inline-block;
        padding: 10px 20px;
        border-radius: 12px;
        color: white;
        background-color: rgb(54, 212, 138);
        font-weight: bold;
        text-decoration: none;
        transition: background-color 0.3s, transform 0.2s;
        // margin: 10px auto;
        margin-top: auto;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
      }

      .project-link:hover {
        background-color: rgb(34, 136, 41);
        transform: scale(1.05);
      }

      .project-end-marker {
        text-align: center;
        margin-top: 4rem;
        margin-bottom: 2rem;
        color: #999;
        font-weight: 500;
        letter-spacing: 2px;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  body {
    nav {
      #hamburger-btn {
        display: block;
        z-index: 1001;
      }

      #hamburger-btn.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }
      #hamburger-btn.active .bar:nth-child(2) {
        opacity: 0;
      }
      #hamburger-btn.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }

      ul#nav-links {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.98);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;

        li {
          margin: 1.5rem 0;
          a {
            font-size: 1.5rem;
          }
        }
      }

      ul#nav-links.active {
        transform: translateX(0);
      }
    }
    main {
      section.about-me {
        section.description {
          width: 80%;
        }
      }
      section.resume {
        overflow-x: auto;

        section.table {
          padding: 0.5rem;

          table,
          tr,
          td {
            display: block;
            width: 100%;
          }

          table tr {
            border-bottom: 2px solid gray;
            margin-bottom: 1.5rem;
            padding-bottom: 1rem;
          }

          table tr:last-child {
            margin-bottom: 0;
          }

          table tr td {
            padding: 0.25rem 0;
            border: none;
          }

          table tr td:first-child {
            font-weight: bold;
            color: rgb(54, 212, 138);
          }
        }

        section.picture {
          div.greenReact,
          div.greenReact2,
          div.greenReact3 {
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  main {
    section.main-area {
      padding-top: 2rem;
      padding-bottom: 2rem;

      div.info {
        text-align: center;

        h1 {
          font-size: 2.5rem;
        }
        h2,
        .typewriter {
          font-size: 1.8rem;
          min-height: 8rem;
        }
        a {
          margin: 1rem auto;
        }
      }
      div.img-area {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
